{% extends 'base.html.twig' %}
 {% block stylesheets %}<style>
</style>
        {% endblock %}

{% block body %}
<div>
        {% for matiere in matieres %}
          <div>
           <a href="{{ asset('assets/docs/' ~ matiere.nom) }}">{{ matiere.nom }}</a><br/>
                                        </div>
                    
                              {% endfor %}
{% endblock %}