{% extends 'base.html.twig' %}
 {% block stylesheets %}<style>
</style>
        {% endblock %}

{% block body %}
<div>
        {% for matiere in matieres %}
          <div>
            <a href="">{{matiere.nom}}</a><br/>
                                        </div>
                    
                              {% endfor %}
{% endblock %}